body {
  padding: 0;
  margin: 0;
}
.card {
  box-shadow: 0 0 10px #0000001a;
  margin: 0;
  padding: 1rem;
  font-family: Courier New, Courier, monospace;
}
.editor {
  resize: none;
  width: 80vw;
  height: 70vh;
  box-shadow: 0 0 10px #0000001a inset;
  border: none;
  border-radius: 0.3rem;
  outline: 0.2rem solid rgb(45, 156, 151);
}
.dart-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.mt-1 {
  margin-top: 1rem;
}
.btn {
  border: none;
  margin: 0.4rem;
  padding: 0.3rem;
  border-radius: 0.3rem;
  background-color: #2d9c97;
  color: #fff;
  box-shadow: 5px 5px 10px #2d9c97;
}
.scroll {
  white-space: nowrap;
  overflow: auto;
  padding: 0 1rem;
  height:3rem;
}
